Import libraries and check TF version.

In [0]:
# TensorFlow Library
%tensorflow_version 1.x
import tensorflow as tf

# Feature Engineering Library
from sklearn.impute import SimpleImputer

# Helper Library
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

print(tf.__version__)

TensorFlow 1.x selected.
1.15.2

Get dataset from Github repo and load it to Pandas.

In [0]:
DS_TRAINING_URL = 'https://raw.githubusercontent.com/dewasathya/Bangkit-05-W05/master/titanic-extended/train.csv'
DS_TEST_URL = 'https://raw.githubusercontent.com/dewasathya/Bangkit-05-W05/master/titanic-extended/test.csv'

train_data = pd.read_csv(DS_TRAINING_URL)
test_data = pd.read_csv(DS_TEST_URL)

#train_data

Filling empty cells with values.

In [0]:
# Feature Engineering
def nan_padding(data, columns):
  for column in columns:
    imputer = SimpleImputer()
    data[column] = imputer.fit_transform(data[column].values.reshape(-1, 1))
  return data

nan_columns = ["Age", "SibSp", "Parch"]
train_data = nan_padding(train_data, nan_columns)
test_data = nan_padding(test_data, nan_columns)

Saving Passenger ID for final result.

In [0]:
# Save PassengerId for evaluation
test_passenger_id = test_data["PassengerId"]

Dropping unnecessary columns from training and test dataset.

In [0]:
# Drop not needed columns
def drop_not_concerned(data, columns):
  return data.drop(columns, axis=1)

not_concerned_columns = [
                         "PassengerId", "Name", "Ticket", "Fare",
                         "Cabin", "Embarked", "WikiId", "Name_wiki",
                         "Age_wiki", "Hometown", "Boarded", "Destination",
                         "Lifeboat", "Body", "Class"
]
train_data = drop_not_concerned(train_data, not_concerned_columns)
test_data = drop_not_concerned(test_data, not_concerned_columns)

In [0]:
train_data.head()

   Survived  Pclass     Sex   Age  SibSp  Parch
0       0.0       3    male  22.0    1.0    0.0
1       1.0       1  female  38.0    1.0    0.0
2       1.0       3  female  26.0    0.0    0.0
3       1.0       1  female  35.0    1.0    0.0
4       0.0       3    male  35.0    0.0    0.0

In [0]:
test_data.head()

   Pclass     Sex   Age  SibSp  Parch
0       3    male  34.5    0.0    0.0
1       3  female  47.0    1.0    0.0
2       2    male  62.0    0.0    0.0
3       3    male  27.0    0.0    0.0
4       3  female  22.0    1.0    1.0

Separate Pclass into 3 (Pclass_1, Pclass_2, Pclass_3).

In [0]:
def dummy_data(data, columns):
  for column in columns:
    data = pd.concat([data, pd.get_dummies(data[column], prefix=column)], axis=1)
    data = data.drop(column, axis=1)
  return data

dummy_columns = ["Pclass"]
train_data=dummy_data(train_data, dummy_columns)
test_data=dummy_data(test_data, dummy_columns)

In [0]:
test_data.head()

      Sex   Age  SibSp  Parch  Pclass_1  Pclass_2  Pclass_3
0    male  34.5    0.0    0.0         0         0         1
1  female  47.0    1.0    0.0         0         0         1
2    male  62.0    0.0    0.0         0         1         0
3    male  27.0    0.0    0.0         0         0         1
4  female  22.0    1.0    1.0         0         0         1